* {
    box-sizing: border-box;
}

body {
    max-height: 100%;
    background-image: linear-gradient(180deg, #c94b4b, #4b134f);
    background-attachment: fixed; /* This helps the gradient color cover the screen entirely*/
    color: rgb(235, 235, 235);
    transition: all 2s;
    font-family: 'VT323', monospace;
}

body.switch {
    background-image: linear-gradient(to bottom right, #00b09b, #96c93d);
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
}

#active-status {
    position: absolute;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
    top: 1rem;
    left: 1rem;
}

#dot {
    height: 1rem;
    width: 1rem;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    border: solid black;
    margin-right: 0.5rem;
}

#dot.switch {
    background-color: green;
}

#banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 250px;
    margin: auto;
    background-color: grey;
    overflow: hidden;
    display: grid;
	place-items: center;
    border: solid 1rem #333;
    border-radius: 1rem;
    /* overflow-y: scroll; */
}

#banner.switch {
    background-color: rgb(235, 235, 235);
}

#dino {
    width: 70px;
    height: 70px;
}

#banner:hover #dino {
    transform: translateY(-1.5em);
    transition-duration: 0.5s;
}

#banner:not(:hover) #dino {
    transition-duration: 0.5s;
}

#no-internet {
    display: inherit;
}

#no-internet.switch {
    display: none;
}
/* Messenger banner */
#messenger {
    display: none;
    height: 100%;
    width: 50%;
}

#messenger.switch {
    display: inherit;
}

.message-container {
    position: relative;
    height: 175px;
    overflow-y: scroll;
}

.message {
    color:rgb(235, 235, 235);
    padding: 0.5rem;
    border-radius: 1rem;
    width: fit-content;
    margin: 0.5rem;
}

.text-user {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.from-me {
    background-color: #00b09b;
}

.from-user {
    background-color: #0078FF;
}

.typing-bar {
    height: 100%;
}

.typing-bar input {
    width: 90%;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    width: 25%;
    border: solid 5px;
    border-radius: 10px;
    margin: 0 .25em;
    padding: 1em;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.other-list {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0;
}

.other-list li {
    padding-left: 20px;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: rgb(235, 235, 235);
}

section a:hover {
    background-color: orange;
    border-radius: 1rem;
    color: #333;
}

section a:hover .loading {
    visibility: visible;
}

.loading {
    visibility: hidden;
    height: 0.85em;
    margin-left: 0.5em;
}

section.switch .loading {
    display: none;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #00b09b;
    border-radius: 1rem;
    color: rgb(235, 235, 235);
}

#mode-container {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    border: 1px solid transparent;
}

/* Toggle button */
.toggle {
    margin-left: 0.5rem;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background-color: black;
    transition: .3s;
}

input:checked + .slider {
    background-color: pink;
}

input:focus + .slider {
    box-shadow: 0 0 1px pink;
}

input:checked + .slider:before {
    transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}
